.atom {
    transition: transform .4s, opacity .4s;
    @keyframes react {
        0% {
            opacity: 0;
            bottom: 25%;
        }
        92% {
            opacity: 0;
            bottom: 25%;
        }
        100% {
            opacity: 1 !important;
            bottom: 30%;
        }
    }

    position: absolute;
    left: 50%;
    display: block;
    bottom: 30%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, 0);

    .circle {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        top: 0;
        border: 2px solid rgb(71, 245, 245);
        border-bottom: 0px solid transparent;
        border-radius: 50%;
        color: white;
        box-shadow: 0 0px 4px 0px aqua,
            inset 0 0px 4px 0px aqua;

        div {
            box-shadow: 0px 0px 50px 0px aqua;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: auto;
            background-color: aqua;
            perspective-origin: -34% 100%;
            animation: electron 1s infinite;

            @keyframes electron {
                from {
                    transform: perspective(1em) scale(.7, 2) skewX(-60deg) rotateZ(-60deg) translate(0%, -80%);
                }
                to {
                    transform: perspective(1em) scale(.7, 2) skewX(-60deg) rotateZ(-60deg) translate(0%, -80%);
                }
            }
        }
    }

    #center {
        width: 10%;
        height: 10%;
        position: absolute;
        background-color: aqua;
        box-shadow: 0 0 10px 2px aqua;
        border-radius: 50%;
        left: 53%;
        top: 53%;
        transform: translate(-40%, -50%);
    }
}

#div1 {
    transform: perspective(1em) scale(1, 1) skewX(60deg) rotateZ(60deg);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    from {
        transform: scale(.6, 1) skewX(50deg) rotateZ(0deg)
    }
    to {
        transform: scale(.6, 1) skewX(50deg) rotateZ(360deg);
    }
}

#div2 {
    transform: perspective(1em) scale(1, .4) skewX(40deg) rotateZ(60deg);
    animation: animate2 1s -1.2s linear infinite
}

@keyframes animate2 {
    from {
        transform: scale(.6, 1) skewX(-50deg) rotateZ(0deg)
    }
    to {
        transform: scale(.6, 1) skewX(-50deg) rotateZ(360deg);
    }
}

#div3 {
    transform: perspective(1em) scale(1, .4) skewX(40deg) rotateZ(60deg);
    animation: animate3 1s -2s linear infinite
}

@keyframes animate3 {
    from {
        transform: scale(1.5, .3) skewX(0deg) rotateZ(0deg)
    }
    to {
        transform: scale(1.5, .3) skewX(0deg) rotateZ(360deg);
    }
}
