$playtop: 20vh;

#powered {
    display: block;
    white-space: nowrap;
    cursor: default;
    font-family: consolas;
    text-transform: uppercase;
    text-shadow: 0 0px 10px #03e9f4;
    position: absolute;
    color: #03e9f4;
    width: fit-content;
    margin-inline: auto;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    animation: powered 5s ease-in-out;
    transition: transform .4s, opacity .4s;
}

#play:focus+#powered,
#play:focus~.atom {
    opacity: 0;
    transform: translate(-50%, 20px)
}

@keyframes powered {
    0% {
        opacity: 0;
        bottom: 10%;
    }
    90% {
        opacity: 0;
        bottom: 10%;
    }
    100% {
        opacity: 1 !important;
        bottom: 20%;
    }
}

#play {
    margin: auto;
    width: 200px;
    height: 100px;
    font-family: consolas;
    color: #03e9f4;
    background-color: transparent;
    font-size: 2em;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #03e9f4, inset 0 0 5px #03e9f4;
    text-shadow: 0 0px 10px #03e9f4;
    position: relative;
    transition: transform .3s, box-shadow .3s, text-shadow .3s;
    margin-top: $playtop;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        text-shadow: 0 0 20px #03e9f4,
            0 0 5px #bcecee;
        box-shadow: 0 0 3px #bcecee, inset 0 0 3px #bcecee,
            0 0 15px #03e9f4, inset 0 0 15px #03e9f4;
    }

    &::before {
        pointer-events: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #03e9f4;
        transform: perspective(1em) rotateX(10deg) scale(1, .4);
        filter: blur(1.5em);
        opacity: .3;
        transition: opacity .3s
    }

    &:hover::before {
        opacity: .6;
    }

    span {
        filter: blur(.75px)
    }

    animation: start 4s;

    &:focus {
        animation: click .5s;
        opacity: 0;
        top: 50px
    }
}

@keyframes click {
    from {
        opacity: 1;
        top: 25px;
    }
    to {
        opacity: 0;
        top: 50px
    }
}

@keyframes start {
    0% {
        opacity: 0
    }
    33% {
        opacity: 1
    }
    35% {
        opacity: .15;
    }
    37% {
        opacity: 1
    }
    40% {
        opacity: .15
    }
    43% {
        opacity: 1;
    }
    68% {
        opacity: 1
    }
    70% {
        opacity: .15
    }
    73% {
        opacity: 1;
    }
    86% {
        opacity: 1
    }
    88% {
        opacity: .15
    }
    90% {
        opacity: 1
    }
}

#l {
    animation: startspan 4s;
}

#a {
    animation: a1 4s linear 0s 1 
}

@keyframes l2 {
    0% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    41% {
        opacity: .2
    }
    42% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    91% {
        opacity: .2
    }
    92% {
        opacity: 1
    }
    93% {
        opacity: .2
    }
    94% {
        opacity: 1
    }
}

@keyframes a1 {
    0% {
        opacity: .2
    }
    94% {
        opacity: .2
    }
    96% {
        opacity: 1
    }
    98% {
        opacity: .2
    }
    100% {
        opacity: 1
    }
}

@keyframes startspan {
    0% {
        opacity: .2
    }
    50% {
        opacity: .2
    }
    52% {
        opacity: 1
    }
    54% {
        opacity: .2
    }
    62% {
        opacity: .2
    }
    64% {
        opacity: 1
    }
}

#p,
#l,
#a,
#y {
    display: inline-block;
}

#p {
    animation: startspan 4s;
    transform-origin: 10% -10%;
    transform: rotate(-5deg) translate(0px, 5px);
}

@keyframes rotatee {
    from {
        transform: rotate(20deg) translate(0px, 5px);
        transform-origin: 10% -10%;
    }
    to {
        transform: rotate(-5deg) translate(0px, 5px);
        transform-origin: 10% -10%;
    }
}

