body {
    background-color: #03131d;
    color: aqua;
    margin: 0;
}

*{user-select: none}

#stats {
    cursor: pointer;
    position: fixed;
    font-family: consolas;
    font-size: 20px;
    background-color: transparent;
    letter-spacing: 2px;
    padding: 5px 20px;
    overflow: hidden;
    color: aqua;
    -webkit-box-reflect: below 1px linear-gradient(transparent);
    transition: 0.3s;
    right: 30px;
    bottom: 30px;
    outline: none;
    border: none;

    &:hover {
        color: #111;
        background-color: #21ebff;
        box-shadow: 0 0 50px #21ebff;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
        transition-delay: .2s;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-top: 2px solid #21ebff;
        border-left: 2px solid #21ebff;
        transition: 0.3s;
    }

    &:hover:before {
        width: 100%;
        height: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-right: 2px solid #21ebff;
        border-bottom: 2px solid #21ebff;
        transition: 0.5s;
    }

    &:hover:after {
        width: 100%;
        height: 100%;
    }

    animation: showstatsbtn .4s;
}

@keyframes showstatsbtn {
    from {
        right: -30px
    }
    to {
        right: 30px
    }
}

.T {
    animation: l2 10s infinite
}

@keyframes start1 {
    from {
        opacity: 0;
        top: 2vh;
    }
    to {
        opacity: 1;
        top: -1vh;
    }
}


@media only screen and (max-width: 670px){
    #classic, #survival{
        width: 37% !important
    }

    #modesbtns{
        width: 100% !important;
        min-width: 400px !important;
        margin-top: 20vh !important;
    }

    #descriptions{
        margin-top: 70px !important;
    }
}

@media only screen and (max-width: 545px){
    #pcat{
         font-size: 7vw !important;
        white-space: normal !important;
        display: block !important;
        width: 100vw !important
    }

    #modes{
        width: 100% !important;

        #pmode{
            font-size: 7vw !important;
        }
    }

    #modesbtns{
        width: 90vw !important;
        min-width: 0 !important;
    }

    #classic, #survival{
        height: 80px !important;
        font-size: 5vw !important;

        &::before{
            top: 70px !important;
        }

        span{
            font-size: 60% !important;
        }
    }

    #descriptions{
        width: 80% !important
    }
}

#modes {
    opacity: 1;
    margin: auto;
    width: 80%;
    animation: start1 .4s;
    position: relative;
    top: -1vh;

    #modesbtns {
        width: 50%;
        min-width: 500px;
        margin: auto;
        margin-top: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #descriptions {
    cursor: default;
        #idk:after {
            content: '|';
            animation: kreska 1s infinite;
        }

        @keyframes kreska {
            0% {
                opacity: 1
            }
            68% {
                opacity: 1
            }
            70% {
                opacity: 0
            }
            100% {
                opacity: 0
            }
        }

        width: 90%;
        height: 100%;
        margin-top:120px;
        margin-inline: auto;
        text-shadow: 0px 0 10px aqua;
        animation: threeD 8s infinite;
        
@keyframes threeD{
    0%{
        text-shadow: 0px 0 10px aqua;
    }
    50%{
        text-shadow: 0px 0 10px aqua;
    }
    51%{
        text-shadow: 1px 1px 0px red;
    }
    52%{
        text-shadow: 2px 2px 0px red;
    }
    53%{
        text-shadow: -1px -1px 0px magenta;
    }
    54%{
        text-shadow: -1px -1px 0px magenta;
    }
    55%{
        text-shadow: 0px 0 10px aqua;
    }
}

        #classicDes:before,
        #survivalDes:before {
            content: '>';
            position: absolute;
            left: -20px;
        }

        p {
            color: aqua;
            width: fit-content;
            position: relative;
            font-family: consolas;
            float: left
        }
    }
}

#pmode {
    cursor: default;
    color: aqua;
    font-family: consolas;
    letter-spacing: 5px;
    white-space: nowrap;
    margin-inline: auto;
    width: fit-content;
    font-size: 35px;
    text-shadow: 0 0 6px aqua;
    filter: blur(1px);
    text-align: center; 
}

#classic,
#survival {
    margin-top: -15vh !important;
    cursor: pointer;
    width: 200px;
    height: 100px;
    margin: auto;
    color: #03e9f4;
    background-color: transparent;
    font-size: 180%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #03e9f4, inset 0 0 5px #03e9f4;
letter-spacing: 2px;
    text-shadow: 0 0px 10px #03e9f4;
    position: relative;
    transition: transform .3s;
filter: blur(.75px);
font-family: consolas;

    &:hover {
        transform: scale(1.02);
        text-shadow: 0 0 20px #03e9f4,
            0 0 5px #bcecee;
        box-shadow: 0 0 3px #bcecee, inset 0 0 3px #bcecee,
            0 0 15px #03e9f4, inset 0 0 15px #03e9f4;
    }

    &::before {
        content: '';
        pointer-events: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #03e9f4;
        transform: perspective(1em) rotateX(10deg) scale(1, .4);
        filter: blur(1.5em);
        opacity: .3;
        transition: opacity .3s
    }

    &:hover::before {
        opacity: .6;
    }

    span {
        filter: blur(.75px);
        position: relative;
    }
}

#classic:hover #survival {
    background-color: red;
}

@keyframes hidemodes {
    from {
        opacity: 1;
        top: -1vh
    }
    to {
        opacity: 0;
        top: 2vh
    }
}

#cats {
    animation: start1 .4s;
    position: relative;
    top: -1vh
}

#pcat {
    @extend #pmode;
}

#cats{
    margin-top: 25px;
    height: 85vh;

    #catsbtns{
        position: absolute;
        transform: translate(0, -50%);
        width: 100%;
        top: 55% !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media only screen and (max-width:400px){
    .catbtn{
        height: 70px !important;
    }

    #catbtns{
        margin-top: 45% !important;
    }

    #changemode{
        font-size: 15px;
        bottom: 35px
    }
}

@media only screen and (max-width:300px){
 #classic, #survival{
    height: 10vh !important
 }

    #stats{
        font-size: 15px;
        bottom: 10px;
        right: 10px;
    }

    #changemode{
        left: 10px !important;
    }

    #quit{
        left: 10px !important;
        font-size: 15px;
        bottom: 10px;
    }
}

.catbtn {
    cursor: pointer;
text-transform: capitalize;
    width: 200px;
    height: 80px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 255, 255, .1);
font-family: consolas;
font-size: 20px;
letter-spacing: 2px;
    overflow: hidden;
    transition: .5s;
position: relative;
border: none;
outline: none;
color: aqua;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

    &:hover {
        background-color: aqua;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4, 
            0 0 50px #03e9f4, 
            0 0 200px #03e9f4;
    }

    span{
        position: absolute;
        display: block;
    }

    span:nth-child(1){
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: animate11 2s linear infinite;
    }

    @keyframes animate11{
        0%{
            left: -100%;
        }
        50%, 100%{
            left: 100%
        }
    }

    span:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: animate12 2s .5s linear infinite;
    }

    @keyframes animate12{
        0%{
            top: -100%;
        }
        50%, 100%{
            top: 100%
        }
    }

    span:nth-child(3){
        bottom: 0%;
        right: -100%;
        height: 2px;
        width: 100%;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: animate13 2s 1s linear infinite;
    }

    @keyframes animate13{
        0%{
            right: -100%;
        }
        50%, 100%{
            right: 100%
        }
    }

    span:nth-child(4){
        left: 0%;
        bottom: -100%;
        height: 100%;
        width: 2px;
        background: linear-gradient(0deg, transparent, #03e9f4);
        animation: animate14 2s 1.5s linear infinite;
    }

    @keyframes animate14{
        0%{
            bottom: -100%;
        }
        50%, 100%{
            bottom: 100%
        }
    }
}

#changemode{
    @extend #stats;
    left: 30px;
    width: fit-content
}